<a href="https://colab.research.google.com/github/mkjubran/IntroToPython-NonIT/blob/main/MatplotlibinPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Matplotlib in Python
By the end of this tutorial, you will be able to:
-       Represent data graphically using Matplotlib.
-       Acquire thorough knowledge about the different terminologies used in Data Science.

# Pandas DataFrames

Pandas is a high-level data manipulation tool developed by Wes McKinney. It is built on the Numpy package and its key data structure is called the DataFrame. DataFrames allow you to store and manipulate tabular data in rows of observations and columns of variables.

There are several ways to create a DataFrame. One way way is to use a dictionary.

In [ ]:
dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

print('This is the dictionary data')
print(dict)


import pandas as pd  ## importing the pandas library


brics = pd.DataFrame(dict) ## converting the dictionary data into pandas dataframe


print('\n\nThis is the Pandas DataFrame')
print(brics)

This is the dictionary data
{'country': ['Brazil', 'Russia', 'India', 'China', 'South Africa'], 'capital': ['Brasilia', 'Moscow', 'New Dehli', 'Beijing', 'Pretoria'], 'area': [8.516, 17.1, 3.286, 9.597, 1.221], 'population': [200.4, 143.5, 1252, 1357, 52.98]}


This is the Pandas DataFrame
        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

**Exercise 1.1:** C??????

In [ ]:
## Write your code here

Another way is by Creating Dataframe from Series.

In [ ]:
import pandas as pd 

## creating lists
country = ["Brazil", "Russia", "India", "China", "South Africa"] 
capital = ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"]
area = [8.516, 17.10, 3.286, 9.597, 1.221]
population = [200.4, 143.5, 1252, 1357, 52.98]

## converting lists to pandas series
country_series = pd.Series(country) 
capital_series = pd.Series(capital) 
area_series = pd.Series(area) 
population_series = pd.Series(population) 

brics_dict = { 'country': country_series, 'capital': capital_series, 'area': area_series, 'population': population_series} 
  
brics = pd.DataFrame(brics_dict) 
  
print(brics)

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In another way, a DataFrame can be created by importing a csv file using Pandas.

First we need to upload/clone the carsprices.csv file.

In [ ]:
!rm -rf ./MachineLearning
!git clone https://github.com/mkjubran/MachineLearning.git

Cloning into 'MachineLearning'...
remote: Enumerating objects: 7, done.
remote: Counting objects: 100% (7/7), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 257 (delta 1), reused 6 (delta 1), pack-reused 250
Receiving objects: 100% (257/257), 72.83 MiB | 27.44 MiB/s, done.
Resolving deltas: 100% (116/116), done.

Now, the csv cars.csv is stored and can be imported using pd.read_csv.

In [ ]:
# Import pandas as pd
import pandas as pd

# Import the cars.csv data: cars
cars = pd.read_csv("./MachineLearning/1_Regression/carprices.csv")

# Print out cars
print(cars)

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

# Indexing DataFrames
There are several ways to index a Pandas DataFrame. One of the easiest ways to do this is by using square bracket notation.

In the example below, you can use square brackets to select one column of the cars DataFrame. You can either use a single bracket or a double bracket. The single bracket with output a Pandas Series, while a double bracket will output a Pandas DataFrame.

In [ ]:
# Import pandas and cars.csv
import pandas as pd
cars = pd.read_csv("./MachineLearning/1_Regression/carprices.csv", index_col = 0)

# Print out Mileage column as Pandas Series
print(cars['Mileage'])

# Print out Sell Price($) column as Pandas DataFrame
print(cars[['Sell Price($)']])

# Print out DataFrame with Mileage and Sell Price($) columns
print(cars[['Mileage', 'Age(yrs)']])

Car Model
BMW X5                   69000
BMW X5                   35000
BMW X5                   57000
BMW X5                   22500
BMW X5                   46000
Audi A5                  59000
Audi A5                  52000
Audi A5                  72000
Audi A5                  91000
Mercedez Benz C class    67000
Mercedez Benz C class    83000
Mercedez Benz C class    79000
Mercedez Benz C class    59000
Name: Mileage, dtype: int64
                       Sell Price($)
Car Model
BMW X5                         18000
BMW X5                         34000
BMW X5                         26100
BMW X5                         40000
BMW X5                         31500
Audi A5                        29400
Audi A5                        32000
Audi A5                        19300
Audi A5                        12000
Mercedez Benz C class          22000
Mercedez Benz C class          20000
Mercedez Benz C class          21000
Mercedez Benz C class          33000
                       Mileage  Age(yrs)
Car Model
BMW X5                   69000         6
BMW X5                   35000         3
BMW X5                   57000         5
BMW X5                   22500         2
BMW X5                   46000         4
Audi A5                  59000         5
Audi A5                  52000         5
Audi A5                  72000         6
Audi A5                  91000         8
Mercedez Benz C class    67000         6
Mercedez Benz C class    83000         7
Mercedez Benz C class    79000         7
Mercedez Benz C class    59000         5

Square brackets can also be used to access observations (rows) from a DataFrame

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv("./MachineLearning/1_Regression/carprices.csv", index_col = 0)

# Print out first 4 observations
print(cars[0:4])

# Print out fifth and sixth observation
print(cars[4:6])

           Mileage  Sell Price($)  Age(yrs)
Car Model
BMW X5       69000          18000         6
BMW X5       35000          34000         3
BMW X5       57000          26100         5
BMW X5       22500          40000         2
           Mileage  Sell Price($)  Age(yrs)
Car Model
BMW X5       46000          31500         4
Audi A5      59000          29400         5

You can also use loc and iloc to perform just about any data selection operation. loc is label-based, which means that you have to specify rows and columns based on their row and column labels. iloc is integer index based, so you have to specify rows and columns by their integer index like you did in the previous exercise.

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv("./MachineLearning/1_Regression/carprices.csv", index_col = 0)

# Print out observation for the car in the third row 
print(cars.iloc[2])

# Print out observations for BMW X5 and Audi A5
print(cars.loc[['BMW X5', 'Audi A5']])

Mileage          57000
Sell Price($)    26100
Age(yrs)             5
Name: BMW X5, dtype: int64
           Mileage  Sell Price($)  Age(yrs)
Car Model
BMW X5       69000          18000         6
BMW X5       35000          34000         3
BMW X5       57000          26100         5
BMW X5       22500          40000         2
BMW X5       46000          31500         4
Audi A5      59000          29400         5
Audi A5      52000          32000         5
Audi A5      72000          19300         6
Audi A5      91000          12000         8

**Exercise 1.2:** Create a variable named **Tempreture** and assign the day tempreture to it. Also, print the value of the variable **Tempreture**.

In [ ]:
## Write your code here

# General Exercises
**Exercise 1.14:** Write a python code that creates two string variables and two floating-point number variables. The first string should contain your first name. The second string should contain your family name. The two floating numbers should contain two random numbers. After creating the variables, print out the full name in one line and the sum of the two floating-point numbers in another line.

In [ ]:
## Write your code here

**Exercise 1.15:** Write a python code that creates six integer variables that represent two dates; D1/M1/Y1 and D2/M2/Y2. Write a code that determines which of the two dates is the newest date. Print on screen the newest date.

In [ ]:
## Write your code here

**Exercise 1.16:** Write a python code that creates six integer variables that represent the current date D1/M1/Y1 and Date of Birth of a specific person D2/M2/Y2. Write a python code that computes the age of that person. Print the resulted age on screen.

In [ ]:
## Write your code here

**Exercise 1.17:** Write a python code that reads text from a file and write it to another file.

In [ ]:
## Write your code here

# References

The material of this notebook excluding the exercises are selected from the pandas tutorial at learnpython.org.