<a href="https://colab.research.google.com/github/mkjubran/IntroToPython-NonIT/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics
By the end of this tutorial, you will be able to:

-       Recognize the importance of Python programing language and what it can do

-       Be able to build a simple Python code that processes simple data

# Python Variables

Variables in programing languages are containers for storing data values. In Python a variable is created the moment you first assign a value to it.

In [1]:
x = 5 # x is of type integer (int)
y = "John" # x is now of type string (str)
z = "Saly" # x is now of type string (str)
print(x)
print(y)
print(z)

5
John
Saly

Variable values can be overwritten as follows

In [2]:
x = 4 # x is of type int
print(x)
x = "Sally" # x is now of type str
print(x)

4
Sally

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)

In [3]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

#Illegal variable names:
#2myvar = "John"
#my-var = "John"
#my var = "John"

The Python print statement is often used to output variables. To combine both text and a variable or to concatenate two string variables, Python uses the + character:

In [4]:
x = "awesome"
print("Python is " + x)

x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome
Python is awesome

For numbers, the + character works as a mathematical operator:

In [5]:
x = 5
y = 10
print(x + y)

15

**Exercise 1.1:** Create a variable named **Trainee** and assign your name to it. Also, print the value of the variable **Trainee**.

In [6]:
## Write your code here

**Exercise 1.2:** Create a variable named **Temperature** and assign the day temperature to it. Also, print the value of the variable **Temperature**.

In [7]:
## Write your code here

**Exercise 1.3:** Create a variable named **Temperature** and assign the day temperature to it. Then print the value of the variable **Temperature** according to the following format "Today's temperature is 23."

In [8]:
## Write your code here

**Exercise 1.4:** Create a variable named **Temperature** and assign the day temperature to it. Also, print the value of the variable **Temperature**. Then change the value of the variabe **Temperature** and print its value again.

In [9]:
## Write your code here

# Python Indentation and Comments

Python Indentation
Indentation refers to the spaces at the beginning of a code line. The indentation in code is for readability only, the indentation in Python is very important. Python uses indentation to indicate a block of code.

In [10]:
x=5
y=5
print(x+y)

10

Adding wrong indentation will cause a failure when trying to run the code

In [11]:
#x=5
#  y=5 ## adding indentation
#print(x+y)

Python comments can be used for various reasons which may include
1. explain the Python code.
2. make the code more readable.
3. prevent execution when testing code.

To add a comment in the python code, start the line with the symbol #, and Python will ignore these lines.

In [12]:
#This is a comment
print("1 - Hello, World!")

print("2 - Hello, World!") #This is a comment

#print("3 - Hello, World!") #This is a comment

1 - Hello, World!
2 - Hello, World!

To add a multiline comment you could insert a ''' at the beginning of the multiline comment and ''' at the end of the multiline comment in separate lines.

In [13]:
'''
This is a comment
written in
more than just one line
'''
print("Hello, World!")

Hello, World!

**Exercise 1.5:** Write a code that contains two variables named **Trainee** and **Tutorial** and assign your name to the **Trainee** variable and the title of this tutorial to the **Tutorial** variable. Add comments to the code to explain the two variables, then print the values of the two variables.

In [14]:
## Write your code here

**Exercise 1.6:** Write a code that contains three variables named **Day**, **Date**, **Time**. Set the value of each of these variables based on the current date and time. Add comments to the code to explain the three variables, then print the values of the three variables in a proper format.

In [15]:
## Write your code here

# Python Data Types and Casting

Variables can store data of different types, and different types can do different things. Python has the following major data types built-in by default, in these categories:

1. Text Type:	str
2. Numeric Types:	int, float
3. Sequence Types:	list, range, set
4. Mapping Type:	dict

**The String Data type**

In [16]:
## String Data type
x = "Hello World"
print (x) ## print the value of x 
print(type(x)) ## to print the data type

Hello World
<class 'str'>

**The Numaric Data type**

In [17]:
## Numaric Data type
x = 5 ## integer
print (x) ## print the value of x 
print(type(x)) ## to print the data type 

x = 5.0 ## float
print (x) ## print the value of x 
print(type(x)) ## to print the data type

5
<class 'int'>
5.0
<class 'float'>

**The List Data type**

In [18]:
## List Data type
x = ["apple", "banana", "cherry"]
print (x) ## print the value of x 
print(type(x)) ## to print the data type 
print(x[0])

['apple', 'banana', 'cherry']
<class 'list'>
apple

**The Range Data type**

In [19]:
## Range Data type
x = range(6)
print (x) ## print the value of x 
print(type(x)) ## to print the data type 
print(x[3])

range(0, 6)
<class 'range'>
3

**The Set Data type**

In [20]:
## Set Data type
x = {"apple", "banana", "cherry"}
print (x) ## print the value of x 
print(type(x)) ## to print the data type

x = {"apple","apple", "banana", "cherry"}
print (x) ## print the value of x 
print(type(x)) ## to print the data type

{'banana', 'cherry', 'apple'}
<class 'set'>
{'banana', 'cherry', 'apple'}
<class 'set'>

**The Dictionary Data type**

In [21]:
## Dictionary Data type
x = {"name" : "John", "age" : 36}
print (x) ## print the value of x
print (x['name'])
print(type(x)) ## to print the data type 
print (x['name'])
print (x['age'])

{'name': 'John', 'age': 36}
John
<class 'dict'>
John
36

There may be times when you want to specify a type on to a variable. This can be done with casting such as the examples provided below

In [22]:
## The casting of an integer to a float
x = 5 ## integer
print (x) ## print the value of x 
print(type(x)) ## to print the data type 

y= float(x) ## Casting
print (y) ## print the value of x 
print(type(y)) ## to print the data type

5
<class 'int'>
5.0
<class 'float'>

In [23]:
## The casting of a float to an integer
x = 5.5 ## integer
print (x) ## print the value of x 
print(type(x)) ## to print the data type 

y= int(x) ## Casting
print (y) ## print the value of x 
print(type(y)) ## to print the data type

5.5
<class 'float'>
5
<class 'int'>

In [24]:
## The casting of a float to an string
x = 5.5 ## integer
print (x) ## print the value of x 
print(type(x)) ## to print the data type 

y= str(x) ## Casting
print (y) ## print the value of x 
print(type(y)) ## to print the data type

5.5
<class 'float'>
5.5
<class 'str'>

**Exercise 1.7:** Create a variable that contains the names of the months of a year. Then print the name of month 8 and the name of month 11 in separate lines.

In [25]:
## Write your code here

**Exercise 1.8:** Create a numeric float variable that equals 11.5. use casting to an integer to remove the fraction. Then print the float and integer variables.

In [26]:
## Write your code here

**Exercise 1.9:** Create a variable (list data type) that contains the following names 'Ahmad', 'Reema', 'Omar', and 'Salma'. Assume the name 'Salma' is repeated twice. Use casting to a set data type to remove the repeated name. print the original variable and the new variable.

In [27]:
## Write your code here

**Exercise 1.10:** Create a variable (list data type) that contains the following letters 'a', 'a', 'b', 'b', 'b', 'c', 'd', 'e'. Use casting to set data type to remove duplicates. Then save the resulted vector into a list data type again. Print the original variable and the new variable. Add comments to explain your code.

# Python Boolean Values

In programming you often need to know if an expression is True or False. You can evaluate any expression in Python, and get one of two answers, True or False. When you compare two values, the expression is evaluated and Python returns the Boolean answer.

In [28]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

# Python Conditions and If Statements
Python supports the usual logical conditions from mathematics:
1. Equals: a == b
2. Not Equals: a != b
3. Less than: a < b
4. Less than or equal to: a <= b
5. Greater than: a > b
6. Greater than or equal to: a >= b
These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [29]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

Notice that Python relies on indentation (whitespace at the beginning of a line) to define the scope in the code as in the case of the if statement above.

In [60]:
a = 33
b = 200
if b > a:
print("b is greater than a")

IndentationError: ignored

The else keyword in a for loop specifies a block of code to be executed when the loop is finished.

In [61]:
a = 330
b = 200
if b > a:
  print("b is greater than a")
else:
  print("a is greater than b")

a is greater than b

**Exercise 1.11:** Write an if statement that decides if a floating number is positive or not. Print an output statement in both cases.

In [32]:
## Write your code here

**Exercise 1.12:** Assume a string variable **x** is a string of small letters. write an if statement to determine if this string is a name of a month.

In [33]:
## Write your code here

# Python For Loops
A for loop is used for iterating over a sequence (that is either a list, a dictionary, a set, or a string). With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [62]:
## Example 1: Iterate over a list
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [63]:
## Example 2: Iterate over a string
for x in "banana":
  print(x)

b
a
n
a
n
a

With the **break statement**, we can stop the loop before it has looped through all the items:

In [64]:
## Example #1 using the break statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [65]:
## Example #2 using the break statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

With the **continue statement** we can stop the current iteration of the loop, and continue with the next:

In [66]:
## Example using the continue statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

To loop through a set of code a specified number of times, we can use the **range() function**. The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [67]:
for x in range(6):
  print(x)

0
1
2
3
4
5

A nested loop is a loop inside a loop. The "inner loop" will be executed one time for each iteration of the "outer loop".

In [68]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

**Exercise 1.13:** Redo exercise 1.12 using for and if statements.

In [41]:
## Write your code here

**Exercise 1.14:** Write a for and if statements to compare the elements of two lists. Print an output statement whether the two lists are similar or not.

In [42]:
## Write your code here

# Python Functions
A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result.

To **creating a function** in python use the def keyword

In [69]:
def my_function():
  print("Hello from a function")

To **call a function**, use the function name followed by parenthesis

In [70]:
my_function()

Hello from a function

Information can be passed into functions as arguments. Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name.

In [71]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

A **default value** can be set for the function arguments. If we call the function without an argument, it uses the default value.

In [72]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

To let a function **return a value**, use the return statement.

In [73]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

**Exercise 1.15:** Redo exercise 1.13 by defining a function.

In [48]:
## Write your code here

**Exercise 1.16:** Redo exercise 1.14 by defining a function.

In [49]:
## Write your code here

# File Handling in Python
Python has several functions for creating, reading, updating, and deleting files.

**Open a File**

The key function for working with files in Python is the **open()** function. The open() function takes two parameters; filename, and mode. There are four different methods (modes) for opening a file:
1. "r" - Read - Default value. Opens a file for reading, error if the file does not exist
2. "a" - Append - Opens a file for appending, creates the file if it does not exist
3. "w" - Write - Opens a file for writing, creates the file if it does not exist. If file exists it truncates the file.
4. "x" - Create - Creates the specified file, returns an error if the file exists

In addition you can specify if the file should be handled as binary or text mode:
1. "t" - Text - Default value. Text mode
2. "b" - Binary - Binary mode (e.g. images)

Example: Open a 'demofile.txt' for writing

In [75]:
f = open("demofile.txt", "wt")

**Write to an Existing File**

To write to an existing file, you must add a parameter to the open() function:
1. "a" - Append - will append to the end of the file
2. "w" - Write - will overwrite any existing content

Example: Open the file "demofile2.txt" and append content to the file

In [76]:
f = open("demofile2.txt", "a")
f.write("Now the file has more content!")
f.close()

#open and read the file after the appending:
f = open("demofile2.txt", "r")
print(f.read())

Now the file has more content!Now the file has more content!

Example: Open the file "demofile3.txt" and overwrite the content

In [52]:
f = open("demofile3.txt", "w")
f.write("Woops! I have deleted the content!")
f.close()

#open and read the file after the appending:
f = open("demofile3.txt", "r")
print(f.read())

Woops! I have deleted the content!

**Create a New File**
To create a new file in Python, use the open() method, with one of the following parameters:
1. "x" - Create - will create a file, returns an error if the file exist
2. "a" - Append - will create a file if the specified file does not exist
3. "w" - Write - will create a file if the specified file does not exist

Example: Create a file called "myfile.txt".

In [78]:
f = open("myfile.txt", "x")

Example: Create a new file if it does not exist.

In [79]:
f = open("myfile.txt", "w")

**Exercise 1.17:** Redo exercise 1.15 by reading the variable **x** from a file and writing the output statement to a file.

In [55]:
## Write your code here

# General Exercises
**Exercise 1.18:** Write a python code that creates two string variables and two floating-point number variables. The first string should contain your first name. The second string should contain your family name. The two floating numbers should contain two random numbers. After creating the variables, print out the full name in one line and the sum of the two floating-point numbers in another line.

In [56]:
## Write your code here

**Exercise 1.19:** Write a python code that creates six integer variables that represent two dates; D1/M1/Y1 and D2/M2/Y2. Write a code that determines which of the two dates is the newest date. Print on screen the newest date.

In [57]:
## Write your code here

**Exercise 1.20:** Write a python code that creates six integer variables that represent the current date D1/M1/Y1 and Date of Birth of a specific person D2/M2/Y2. Write a python code that computes the age of that person. Print the resulted age on screen.

In [58]:
## Write your code here

**Exercise 1.21:** Write a python code that reads text from a file and write it to another file.

In [59]:
## Write your code here

# References

The material of this notebook excluding the exercises are selected from 
[1] python tutorial at w3schools.com
[2] Geeks for Geeks at https://www.geeksforgeeks.org/python-pandas-series/