<a href="https://colab.research.google.com/github/mkjubran/IntroToPython-NonIT/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Variables

Variables in programing languages are containers for storing data values. In Python a variable is created the moment you first assign a value to it.

In [ ]:
x = 5 # x is of type integer (int)
y = "John" # x is now of type string (str)
z = "Saly" # x is now of type string (str)
print(x)
print(y)
print(z)

5
John
Saly

Variable values can be overwritten as follows

In [ ]:
x = 4 # x is of type int
print(x)
x = "Sally" # x is now of type str
print(x)

4
Sally

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

#Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: ignored

The Python print statement is often used to output variables. To combine both text and a variable or to concatenate two string variables, Python uses the + character:

In [ ]:
x = "awesome"
print("Python is " + x)

x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome
Python is awesome

For numbers, the + character works as a mathematical operator:

In [ ]:
x = 5
y = 10
print(x + y)

15

**Exercise 1.1:** Create a variable named **Trainee** and assign your name to it. Also, print the value of the variable **Trainee**.

# Python Indentation and comments

Python Indentation
Indentation refers to the spaces at the beginning of a code line. The indentation in code is for readability only, the indentation in Python is very important. Python uses indentation to indicate a block of code.

In [ ]:
x=5
y=5
print(x+y)

10

Adding wrong indentation will cause a failure when trying to run the code

In [ ]:
x=5
  y=5 ## adding indentation
print(x+y)

IndentationError: ignored

Python comments can be used for various reasons which may include
1. explain the Python code.
2. make the code more readable.
3. prevent execution when testing code.

To add a comment in the python code, start the line with the symbol #, and Python will ignore these lines.

In [ ]:
#This is a comment
print("1 - Hello, World!")

print("2 - Hello, World!") #This is a comment

#print("3 - Hello, World!") #This is a comment

1 - Hello, World!
2 - Hello, World!

To add a multiline comment you could insert a ''' at the beginning of the multiline comment and ''' at the end of the multiline comment in separate lines.

In [1]:
'''
This is a comment
written in
more than just one line
'''
print("Hello, World!")

Hello, World!

# Python Data types and casting

Variables can store data of different types, and different types can do different things. Python has the following major data types built-in by default, in these categories:

1. Text Type:	str
2. Numeric Types:	int, float
3. Sequence Types:	list, range, set
4. Mapping Type:	dict

**The String Data type**

In [33]:
## String Data type
x = "Hello World"
print (x) ## print the value of x 
print(type(x)) ## to print the data type

Hello World
<class 'str'>

**The Numaric Data type**

In [34]:
## Numaric Data type
x = 5 ## integer
print (x) ## print the value of x 
print(type(x)) ## to print the data type 

x = 5.0 ## float
print (x) ## print the value of x 
print(type(x)) ## to print the data type

5
<class 'int'>
5.0
<class 'float'>

**The List Data type**

In [35]:
## List Data type
x = ["apple", "banana", "cherry"]
print (x) ## print the value of x 
print(type(x)) ## to print the data type 
print(x[0])

['apple', 'banana', 'cherry']
<class 'list'>
apple

**The Range Data type**

In [39]:
## Range Data type
x = range(6)
print (x) ## print the value of x 
print(type(x)) ## to print the data type 
print(x[3])

range(0, 6)
<class 'range'>
3

**The Set Data type**

In [37]:
## Set Data type
x = {"apple", "banana", "cherry"}
print (x) ## print the value of x 
print(type(x)) ## to print the data type 

x = {"apple","apple", "banana", "cherry"}
print (x) ## print the value of x 
print(type(x)) ## to print the data type

{'banana', 'cherry', 'apple'}
<class 'set'>
{'banana', 'cherry', 'apple'}
<class 'set'>

**The Dictionary Data type**

In [29]:
## Dictionary Data type
x = {"name" : "John", "age" : 36}
print (x) ## print the value of x
print (x['name'])
print(type(x)) ## to print the data type 
print (x['name'])
print (x['age'])

{'name': 'John', 'age': 36}
John
<class 'dict'>
John
36

There may be times when you want to specify a type on to a variable. This can be done with casting such as the examples provided below

In [41]:
## The casting of an integer to a float
x = 5 ## integer
print (x) ## print the value of x 
print(type(x)) ## to print the data type 

y= float(x) ## Casting
print (y) ## print the value of x 
print(type(y)) ## to print the data type

5
<class 'int'>
5.0
<class 'float'>
5.0
<class 'float'>

In [42]:
## The casting of a float to an integer
x = 5.5 ## integer
print (x) ## print the value of x 
print(type(x)) ## to print the data type 

y= int(x) ## Casting
print (y) ## print the value of x 
print(type(y)) ## to print the data type

5.5
<class 'float'>
5
<class 'int'>

In [43]:
## The casting of a float to an string
x = 5.5 ## integer
print (x) ## print the value of x 
print(type(x)) ## to print the data type 

y= str(x) ## Casting
print (y) ## print the value of x 
print(type(y)) ## to print the data type

5.5
<class 'float'>
5.5
<class 'str'>

# Python Boolean Values

In programming you often need to know if an expression is True or False. You can evaluate any expression in Python, and get one of two answers, True or False. When you compare two values, the expression is evaluated and Python returns the Boolean answer.

In [44]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

# Python Conditions and If statements
Python supports the usual logical conditions from mathematics:
1. Equals: a == b
2. Not Equals: a != b
3. Less than: a < b
4. Less than or equal to: a <= b
5. Greater than: a > b
6. Greater than or equal to: a >= b
These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [47]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

Notice that Python relies on indentation (whitespace at the beginning of a line) to define the scope in the code as in the case of the if statement above.

In [46]:
a = 33
b = 200
if b > a:
print("b is greater than a")

IndentationError: ignored

The else keyword in a for loop specifies a block of code to be executed when the loop is finished.

In [55]:
a = 330
b = 200
if b > a:
  print("b is greater than a")
else:
  print("a is greater than b")

a is greater than b

# Python For Loops
A for loop is used for iterating over a sequence (that is either a list, a dictionary, a set, or a string). With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [48]:
## Example 1: Iterate over a list
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
## Example 2: Iterate over a string
for x in "banana":
  print(x)

With the **break statement**, we can stop the loop before it has looped through all the items:

In [50]:
## Example #1 using the break statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
## Example #2 using the break statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

With the **continue statement** we can stop the current iteration of the loop, and continue with the next:

In [51]:
## Example using the continue statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

To loop through a set of code a specified number of times, we can use the **range() function**. The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [52]:
for x in range(6):
  print(x)

0
1
2
3
4
5

A nested loop is a loop inside a loop. The "inner loop" will be executed one time for each iteration of the "outer loop".

In [56]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# Python Functions
A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result.

To **creating a function** in python use the def keyword

In [57]:
def my_function():
  print("Hello from a function")

To **call a function**, use the function name followed by parenthesis

In [58]:
my_function()

Hello from a function

Information can be passed into functions as arguments. Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name.

In [59]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

A **default value** can be set for the function arguments. If we call the function without an argument, it uses the default value.

In [60]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

To let a function **return a value**, use the return statement.

In [61]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

# References

The text and exercises of this notebook are selected from the python tutorial at w3schools.com.