<a href="https://colab.research.google.com/github/mkjubran/IntroToPython-NonIT/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics
By the end of this tutorial, you will be able to:

-       Recognize the importance of Python programing language and what it can do

-       Be able to build a simple Python code that processes simple data

# Python Variables

Variables in programing languages are containers for storing data values. In Python a variable is created the moment you first assign a value to it.

In [4]:
x = 5 # x is of type integer (int)
y = "John" # x is now of type string (str)
z = "Saly" # x is now of type string (str)
print(x)
print(y)
print(z)

5
John
Saly

Variable values can be overwritten as follows

In [5]:
x = 4 # x is of type int
print(x)
x = "Sally" # x is now of type str
print(x)

4
Sally

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)

In [6]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

#Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: ignored

The Python print statement is often used to output variables. To combine both text and a variable or to concatenate two string variables, Python uses the + character:

In [7]:
x = "awesome"
print("Python is " + x)

x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome
Python is awesome

For numbers, the + character works as a mathematical operator:

In [8]:
x = 5
y = 10
print(x + y)

15

**Exercise 1.1:** Create a variable named **Trainee** and assign your name to it. Also, print the value of the variable **Trainee**.

**Exercise 1.2:** Create a variable named **Tempreture** and assign the day tempreture to it. Also, print the value of the variable **Tempreture**.

# Python Indentation and Comments

Python Indentation
Indentation refers to the spaces at the beginning of a code line. The indentation in code is for readability only, the indentation in Python is very important. Python uses indentation to indicate a block of code.

In [ ]:
x=5
y=5
print(x+y)

Adding wrong indentation will cause a failure when trying to run the code

In [ ]:
x=5
  y=5 ## adding indentation
print(x+y)

Python comments can be used for various reasons which may include
1. explain the Python code.
2. make the code more readable.
3. prevent execution when testing code.

To add a comment in the python code, start the line with the symbol #, and Python will ignore these lines.

In [ ]:
#This is a comment
print("1 - Hello, World!")

print("2 - Hello, World!") #This is a comment

#print("3 - Hello, World!") #This is a comment

To add a multiline comment you could insert a ''' at the beginning of the multiline comment and ''' at the end of the multiline comment in separate lines.

In [ ]:
'''
This is a comment
written in
more than just one line
'''
print("Hello, World!")

**Exercise 1.3:** Write a code that contains two variables named **Trainee** and **Tutorial** and assign your name to the **Trainee** variable and the title of this tutorial to the **Tutorial** variable. Add comments to the code to explain the two variables. then print the two variables.

# Python Data Types and Casting

Variables can store data of different types, and different types can do different things. Python has the following major data types built-in by default, in these categories:

1. Text Type:	str
2. Numeric Types:	int, float
3. Sequence Types:	list, range, set
4. Mapping Type:	dict

**The String Data type**

In [ ]:
## String Data type
x = "Hello World"
print (x) ## print the value of x 
print(type(x)) ## to print the data type

**The Numaric Data type**

In [ ]:
## Numaric Data type
x = 5 ## integer
print (x) ## print the value of x 
print(type(x)) ## to print the data type 

x = 5.0 ## float
print (x) ## print the value of x 
print(type(x)) ## to print the data type

**The List Data type**

In [ ]:
## List Data type
x = ["apple", "banana", "cherry"]
print (x) ## print the value of x 
print(type(x)) ## to print the data type 
print(x[0])

**The Range Data type**

In [ ]:
## Range Data type
x = range(6)
print (x) ## print the value of x 
print(type(x)) ## to print the data type 
print(x[3])

**The Set Data type**

In [12]:
## Set Data type
x = {"apple", "banana", "cherry"}
print (x) ## print the value of x 
print(type(x)) ## to print the data type

x = {"apple","apple", "banana", "cherry"}
print (x) ## print the value of x 
print(type(x)) ## to print the data type

{'banana', 'cherry', 'apple'}
<class 'set'>
{'banana', 'cherry', 'apple'}
<class 'set'>

**The Dictionary Data type**

In [13]:
## Dictionary Data type
x = {"name" : "John", "age" : 36}
print (x) ## print the value of x
print (x['name'])
print(type(x)) ## to print the data type 
print (x['name'])
print (x['age'])

{'name': 'John', 'age': 36}
John
<class 'dict'>
John
36

There may be times when you want to specify a type on to a variable. This can be done with casting such as the examples provided below

In [14]:
## The casting of an integer to a float
x = 5 ## integer
print (x) ## print the value of x 
print(type(x)) ## to print the data type 

y= float(x) ## Casting
print (y) ## print the value of x 
print(type(y)) ## to print the data type

5
<class 'int'>
5.0
<class 'float'>

In [15]:
## The casting of a float to an integer
x = 5.5 ## integer
print (x) ## print the value of x 
print(type(x)) ## to print the data type 

y= int(x) ## Casting
print (y) ## print the value of x 
print(type(y)) ## to print the data type

5.5
<class 'float'>
5
<class 'int'>

In [16]:
## The casting of a float to an string
x = 5.5 ## integer
print (x) ## print the value of x 
print(type(x)) ## to print the data type 

y= str(x) ## Casting
print (y) ## print the value of x 
print(type(y)) ## to print the data type

5.5
<class 'float'>
5.5
<class 'str'>

**Exercise 1.4:** Create a variable that contains the names of the months of a year. Also, print the name of month 11.

**Exercise 1.5:** Create a numeric float variable that equals 11.5. use casting to an integer to remove the fraction. Then print the float and integer variables.

**Exercise 1.6:** Create a variable (list data type) that contains the following names 'Ahmad', 'Reema', 'Omar', and 'Salma'. Assume the name 'Salma' is repeated twice. Use casting to a set data type to remove the repeated name. print the original variable and the new variable.

# Python Boolean Values

In programming you often need to know if an expression is True or False. You can evaluate any expression in Python, and get one of two answers, True or False. When you compare two values, the expression is evaluated and Python returns the Boolean answer.

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

# Python Conditions and If Statements
Python supports the usual logical conditions from mathematics:
1. Equals: a == b
2. Not Equals: a != b
3. Less than: a < b
4. Less than or equal to: a <= b
5. Greater than: a > b
6. Greater than or equal to: a >= b
These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

Notice that Python relies on indentation (whitespace at the beginning of a line) to define the scope in the code as in the case of the if statement above.

In [ ]:
a = 33
b = 200
if b > a:
print("b is greater than a")

The else keyword in a for loop specifies a block of code to be executed when the loop is finished.

In [ ]:
a = 330
b = 200
if b > a:
  print("b is greater than a")
else:
  print("a is greater than b")

**Exercise 1.7:** Write an if statement that decides if a floating number is positive or not. Print an output statement in both cases.

**Exercise 1.8:** Assume a string variable **x** is a string of small letters. write an if statement to determine if this string is a name of one of the months.

# Python For Loops
A for loop is used for iterating over a sequence (that is either a list, a dictionary, a set, or a string). With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
## Example 1: Iterate over a list
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

In [ ]:
## Example 2: Iterate over a string
for x in "banana":
  print(x)

With the **break statement**, we can stop the loop before it has looped through all the items:

In [ ]:
## Example #1 using the break statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

In [ ]:
## Example #2 using the break statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

With the **continue statement** we can stop the current iteration of the loop, and continue with the next:

In [ ]:
## Example using the continue statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

To loop through a set of code a specified number of times, we can use the **range() function**. The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for x in range(6):
  print(x)

A nested loop is a loop inside a loop. The "inner loop" will be executed one time for each iteration of the "outer loop".

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

**Exercise 1.9:** Redo exercise 1.8 using for and if statements. 

**Exercise 1.10:** Write a for and if statements to compare the elements of two lists. Print an output statement whether the two lists are similar or not.

# Python Functions
A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result.

To **creating a function** in python use the def keyword

In [ ]:
def my_function():
  print("Hello from a function")

To **call a function**, use the function name followed by parenthesis

In [ ]:
my_function()

Information can be passed into functions as arguments. Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name.

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

A **default value** can be set for the function arguments. If we call the function without an argument, it uses the default value.

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

To let a function **return a value**, use the return statement.

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

**Exercise 1.11:** Redo exercise 1.9 by defining a function.

**Exercise 1.12:** Redo exercise 1.10 by defining a function.

# File Handling in Python
Python has several functions for creating, reading, updating, and deleting files.

**Open a File**

The key function for working with files in Python is the **open()** function. The open() function takes two parameters; filename, and mode. There are four different methods (modes) for opening a file:
1. "r" - Read - Default value. Opens a file for reading, error if the file does not exist
2. "a" - Append - Opens a file for appending, creates the file if it does not exist
3. "w" - Write - Opens a file for writing, creates the file if it does not exist
4. "x" - Create - Creates the specified file, returns an error if the file exists

In addition you can specify if the file should be handled as binary or text mode:
1. "t" - Text - Default value. Text mode
2. "b" - Binary - Binary mode (e.g. images)

Example: Open a 'demofile.txt' for writing

In [ ]:
f = open("demofile.txt", "wt")

**Write to an Existing File**

To write to an existing file, you must add a parameter to the open() function:
1. "a" - Append - will append to the end of the file
2. "w" - Write - will overwrite any existing content

Example: Open the file "demofile2.txt" and append content to the file

In [ ]:
f = open("demofile2.txt", "a")
f.write("Now the file has more content!")
f.close()

#open and read the file after the appending:
f = open("demofile2.txt", "r")
print(f.read())

Example: Open the file "demofile3.txt" and overwrite the content

In [ ]:
f = open("demofile3.txt", "w")
f.write("Woops! I have deleted the content!")
f.close()

#open and read the file after the appending:
f = open("demofile3.txt", "r")
print(f.read())

**Create a New File**
To create a new file in Python, use the open() method, with one of the following parameters:
1. "x" - Create - will create a file, returns an error if the file exist
2. "a" - Append - will create a file if the specified file does not exist
3. "w" - Write - will create a file if the specified file does not exist

Example: Create a file called "myfile.txt".

In [ ]:
f = open("myfile.txt", "x")

Example: Create a new file if it does not exist.

In [ ]:
f = open("myfile.txt", "w")

**Exercise 1.13:** Redo exercise 1.11 by reading the variable **x** from a file and writing the output statement to a file.

# References

The material of this notebook excluding the exercises are selected from the python tutorial at w3schools.com.