<a href="https://colab.research.google.com/github/mkjubran/IntroToPython-NonIT/blob/main/StatisticsforDataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Statistics for Data Science
By the end of this tutorial, you will be able to:

-       Compute statistical parameters for specific data

# Pandas DataFrames

Pandas is a high-level data manipulation tool. Its key data structure is called the DataFrame. DataFrames allow you to store and manipulate tabular data in rows of observations and columns of variables.

Let us start this tutorial by importing the pandas library.

In [4]:
## importing the pandas library
import pandas as pd

We also need to clone some files to be used in the tutorial.

In [5]:
!rm -rf ./MachineLearning
!git clone https://github.com/mkjubran/MachineLearning.git

Cloning into 'MachineLearning'...
remote: Enumerating objects: 7, done.
remote: Counting objects: 100% (7/7), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 257 (delta 1), reused 6 (delta 1), pack-reused 250
Receiving objects: 100% (257/257), 72.83 MiB | 28.06 MiB/s, done.
Resolving deltas: 100% (116/116), done.

#Mean, Median, and Mode

##Mean
The mean value is the average value.

Pandas dataframe.mean() function return the mean of the values for the requested axis. If the method is applied on a pandas series object, then the method returns a scalar value which is the mean value of all the observations in the dataframe. If the method is applied on a pandas dataframe object, then the method returns a pandas series object which contains the mean of the values over the specified axis.

In the previous tutorial we read the "cars.csv" file that was cloned using the commands in section "Pandas DataFrames". This "cars.csv" file is stored and can be read using pd.read_csv.

In [179]:
# Import the cars.csv data: cars
cars = pd.read_csv("./MachineLearning/1_Regression/carprices.csv",index_col=0)

# Print out cars
cars

                       Mileage  Sell Price($)  Age(yrs)
Car Model
BMW X5                   69000          18000         6
BMW X5                   35000          34000         3
BMW X5                   57000          26100         5
BMW X5                   22500          40000         2
BMW X5                   46000          31500         4
Audi A5                  59000          29400         5
Audi A5                  52000          32000         5
Audi A5                  72000          19300         6
Audi A5                  91000          12000         8
Mercedez Benz C class    67000          22000         6
Mercedez Benz C class    83000          20000         7
Mercedez Benz C class    79000          21000         7
Mercedez Benz C class    59000          33000         5

Notice that the **Car Model** is the index column

Let us try to apply the dataframe.mean() to the entire cars DataFrame.

In [190]:
cars.mean()

Mileage          60884.615385
Sell Price($)    26023.076923
Age(yrs)             5.307692
dtype: float64

Use the dataframe.mean() to compute the average **Sell Price($)** of the cars.

In [191]:
#print(cars['Sell Price($)'])
cars['Sell Price($)'].mean()

26023.076923076922

Let us also try to compute the average of the **Age(yrs)** in the cars DataFrame

In [192]:
#print(cars['Age(yrs)'])
cars['Age(yrs)'].mean()

5.3076923076923075

##Filter Data while 'Car Model' is an Index Column

Let us try to apply the DataFrame.mean to Audi A5 cars only.

In [193]:
#print(cars.loc[['Audi A5']])
cars.loc[['Audi A5']].mean()

Mileage          68500.0
Sell Price($)    23175.0
Age(yrs)             6.0
dtype: float64

Let us compute the mean of the **Sell Price($)** of the **Audi A5** cars.

In [194]:
#print(cars.loc[['Audi A5']]['Sell Price($)'])
cars.loc[['Audi A5']]['Sell Price($)'].mean()

23175.0

To determine the total price of **Audi A5** cars

In [195]:
#print(cars.loc[['Audi A5']]['Sell Price($)'])
cars.loc[['Audi A5']]['Sell Price($)'].sum()

92700

To Determine the number of **Audi A5** cars

In [196]:
#print(cars.loc[['Audi A5']]['Sell Price($)'])
len(cars.loc[['Audi A5']]['Sell Price($)'])

4

Try to compute the mean by dividing the total price by the number of **Audi A5** cars. Is this value equal to the mean computed above?

In [197]:
#print(cars.loc[['Audi A5']]['Sell Price($)'])
cars.loc[['Audi A5']]['Sell Price($)'].sum()/len(cars.loc[['Audi A5']]['Sell Price($)'])

23175.0

Let us compute the mean of the **Sell Price($)** of the **Audi A5** and **BMW X5** cars.

In [198]:
#print(cars.loc[['Audi A5','BMW X5']]['Sell Price($)'])
cars.loc[['Audi A5','BMW X5']]['Sell Price($)'].mean()

26922.222222222223

Let us also try to use the DataFrame.groupby to get the Average **Sell Price($)** of **Audi A5** cars

In [199]:
cars_grouped = cars.groupby('Car Model')
#print(cars_grouped.get_group('Audi A5'))
#print(cars_grouped.get_group('Audi A5')['Sell Price($)'])
cars_grouped.get_group('Audi A5')['Sell Price($)'].mean()

23175.0

Let us try to get the Average **Sell Price($)** of all cars with **Age(yrs)** less than 6 years

In [200]:
#print(cars.loc[cars['Age(yrs)']<6])
cars.loc[cars['Age(yrs)']<6]['Sell Price($)'].mean()

32285.714285714286

Now, let us try to get the Average **Sell Price($)** of all cars with **Age(yrs)** less than 6 years using the DataFrame.where() method

In [201]:
filter = cars['Age(yrs)']<6
#print(cars.where(filter))
cars.where(filter)['Sell Price($)'].mean()

32285.714285714286

Now, let us try to get the Average **Sell Price($)** of all cars with **Age(yrs)** less than 6 years and **Mileage** less than 55000

In [202]:
filter1 = cars['Age(yrs)']<6
filter2 = cars['Mileage'] < 55000
#print(cars.where(filter1))
#print(cars.where(filter2))
#print(cars.where(filter1 & filter2))
cars.where(filter1 & filter2)['Sell Price($)'].mean()

34375.0

Now, let us try to get the Average **Sell Price($)** of **Audi A5** cars with **Age(yrs)** less than 6 years

In [203]:
## This code will not work because the "Car Model" is an index column
CarsAudiA5 = cars.loc[['Audi A5']]
#print(CarsAudiA5)
filter1 = CarsAudiA5['Age(yrs)']<6
#print(CarsAudiA5.where(filter1))
CarsAudiA5.where(filter1)['Sell Price($)'].mean()

30700.0

**This code will not work because the "Car Model" is an index column**

In [204]:
## This code will not work because the "Car Model" is an index column
filter1 = cars['Car Model'] == 'Audi A5'
filter2 = cars['Age(yrs)']<6
print(cars.where(filter1 & filter2))
cars.where(filter1 & filter2)['Sell Price($)'].mean()

KeyError: ignored

##Filter Data without 'Car Model' as an Index Column

Let us read the **cars.csv** wihtout specifying the index column

In [206]:
# Import the cars.csv data: cars
cars = pd.read_csv("./MachineLearning/1_Regression/carprices.csv")

# Print out cars
cars

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

Let us try to apply the DataFrame.mean to **Audi A5** cars only. In here, **Car Model** is an an index column

In [211]:
#print(cars[['Audi A5']]) ## will give an error because 'Car Model' is not an index column

filter=cars['Car Model']=='Audi A5'
#print(cars[filter]) ## will work similar to the filter data method in the previous examples 
cars[filter].mean()

Mileage          68500.0
Sell Price($)    23175.0
Age(yrs)             6.0
dtype: float64

We could get the mean of **Sell Price($)** of Cars

In [212]:
filter=cars['Car Model']=='Audi A5'
#print(cars[filter]['Sell Price($)']) ## will work similar to the filter data method in the previous examples 
cars[filter]['Sell Price($)'].mean()

23175.0

Now, let us try to get the Average **Sell Price($)** of **Audi A5** cars with **Age(yrs)** less than 6 years. For the following code to work, the **Car Model** should not be an index colomn.

In [213]:
filter1 = cars['Car Model'] == 'Audi A5'
filter2 = cars['Age(yrs)']<6
#print(cars.where(filter1 & filter2))
cars.where(filter1 & filter2)['Sell Price($)'].mean()

30700.0

**Exercise 2.3:** Write a code to read the data in "Mall_Customers_short.csv" using and display it as pandas DataFrame. This file was cloned to the "./MachineLearning/1_Regression/" folder.

In [ ]:
## Write your code here

**Exercise 2.4:** Write a code to store the DataFrame of Exercise 2.3 into a new csv file.

In [ ]:
## Write your code here

# General Exercises
**Exercise 2.17:** Write a python code to (suggest an exercise based on your data science project)

In [ ]:
## Write your code here

**Exercise 2.18:** Write a python code to (suggest an exercise based on your data science project)

In [ ]:
## Write your code here

# References

The material of this notebook excluding the exercises are selected from \\
[1] w3schools : https://www.w3schools.com/python/python_ml_mean_median_mode.asp \\
[2] Geeks for Geeks at https://www.geeksforgeeks.org/python-pandas-series/ \\
[3] Panda documents at https://pandas.pydata.org/pandas-docs/